@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Muli";
  src: url("/assets/fonts/Muli-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  src: url("/assets/fonts/Muli-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  src: url("/assets/fonts/Muli-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  src: url("/assets/fonts/Muli-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  src: url("/assets/fonts/Muli-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

html {
  @apply scroll-smooth;
}

.container {
  @apply max-w-7xl px-4 mx-auto;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.flex-space-between {
  @apply flex justify-between items-center;
}

.main-container {
  @apply max-w-6xl px-4 mx-auto;
}

.main-image-ratio {
  aspect-ratio: 22 / 10;
}

.car-main-infos li::marker {
  @apply text-[#cccccc];
}

.price-block-decor {
  @apply w-10/12 h-11 ml-auto grid place-items-center text-white bg-primary relative z-10 font-medium;
}

.price-block-decor::before {
  @apply absolute top-0 -left-[10px] w-8 h-full bg-primary -z-10;
  content: "";
  transform: skew(-14deg, 0deg);
}

.video-wrapper {
  @apply relative w-full aspect-video rounded-sm overflow-hidden;
}

.iframe {
  @apply absolute inset-0 w-full h-full;
}

.mazda-bg {
  background: url("/images/home/bao-gia-lan-banh-vinfast.webp");
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: 45%;
  @apply max-[932px]:bg-none;
}

.wrapper-shadow {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.post-heading-2 {
  @apply border-b-[2px] border-primary leading-none py-[10px] mb-4 max-[800px]:border-none;
}

.post-heading-2 span {
  @apply bg-primary rounded-t-md text-white px-3 py-[9px] text-2xl leading-none max-[650px]:text-lg max-[800px]:leading-8 font-bold;
}

.warning-input {
  display: inline-block;
  border: 2px solid #bcbcbc;
}

/* Car Table */
.price-table td {
  @apply border px-[10px] py-2;
}

.price-table tbody td {
  @apply text-textColor;
}

.price-table thead {
  @apply bg-primary text-white font-bold;
}

.interest-table td {
  @apply text-center py-1 text-sm;
}

.cal-price-wrapper {
  @apply p-5 w-full border border-[#eee] rounded-md shadow-md;
}

.cal-price-title {
  @apply border-b border-primary text-primary font-bold text-xl pb-2;
}

.form-input-wrapper {
  @apply flex flex-col gap-1;
}

.form-input-label {
  @apply text-white text-sm;
}

.form-input {
  @apply px-4 py-2 rounded-md outline-none;
}

.cal-price-form-input {
  @apply flex items-center mb-5 gap-1 max-[458px]:flex-col max-[458px]:items-start;
}

.cal-price-form-input label {
  @apply w-1/3 max-[458px]:w-full;
}

.cal-price-form-input input,
.cal-price-form-input select,
.cal-price-form-input div {
  @apply flex-1 border border-[#ccc] bg-[#f9fafb] outline-none rounded-md px-3 py-2 max-[458px]:w-full;
}

.components-price-list li {
  @apply flex-space-between gap-2;
}

.components-price-list span {
  @apply block text-right;
}

/* Car Post Content */
.promotion-ul {
  @apply list-disc space-y-2 ml-3;
}

.post-img-wrapper {
  @apply relative;
}

.postContent img {
  @apply rounded-md m-0;
}

.postContent {
  @apply text-textColor;
}

.postContent h1 {
  @apply text-primary uppercase text-3xl pb-6 border-b border-dashed border-[#e2e2e2] mb-10;
}

.postContent h2,
.postContent h3 {
  @apply w-fit px-3 py-[9px] text-2xl bg-primary text-white relative max-[500px]:w-full rounded-t-md;
}

.postContent h2::after,
.postContent h3::after {
  content: "";
  @apply absolute bottom-0 left-0 w-[2000px] h-[2px] bg-primary block;
}

.postContent h3 {
  @apply bg-secondary text-lg capitalize;
}

.postContent h3::after {
  content: "";
  @apply bg-secondary block;
}

.postContent iframe {
  @apply w-full aspect-video rounded-md;
}

/* Footer */
.footer-title {
  @apply font-bold uppercase text-white mb-3;
}

.footer-item {
  @apply text-[#999999] text-xs my-[10px] hover:font-bold leading-5;
}

.footer-icon {
  @apply relative w-7 h-7 rounded-full overflow-hidden;
}

/* Home Main Swiper */
.homeSwiper {
  @apply w-full aspect-[2] cursor-pointer;
}

.homeSwiper:hover .swiper-button-prev,
.homeSwiper:hover .swiper-button-next {
  @apply -translate-x-8 opacity-100 transition duration-500;
}

.homeSwiper:hover .swiper-button-next {
  @apply translate-x-8;
}

.homeSwiper .swiper-button-prev,
.homeSwiper .swiper-button-next {
  @apply text-white scale-[0.3] -translate-y-[26px] w-[90px] h-[90px] transition duration-500 
  bg-[rgba(102,102,102,0.354)] grid place-items-center translate-x-0 opacity-0
  rounded-full border-white border-4 hover:border-none hover:bg-secondary;
}

.homeSwiper .swiper-pagination-bullet {
  @apply w-2 h-2 rounded-full border-[2px] border-[#7a7e7a] opacity-60 bg-transparent;
}

.homeSwiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply bg-white border-none;
}

/* Home Customers Swiper */
.customerSwiper {
  @apply cursor-pointer;
}

.customerSwiper .swiper-pagination-bullets {
  display: none;
}

/* Car Image Gallery */
.carousel.carousel-slider {
  aspect-ratio: 22 / 10;
}

.carousel .thumbs {
  text-align: center;
  white-space: normal;
}

.carousel .thumb {
  @apply !w-[50px] h-[30px] rounded;
}

.carousel .thumb:hover,
.carousel .thumb.selected {
  @apply !border-2 !border-[#aaa];
}

.carousel .thumb {
  @apply !border !border-[#ccc];
}

.carousel-status {
  @apply hidden;
}

/* Contact Table */
.contact-table table td {
  @apply py-2;
}

.contact-table table tr {
  @apply border-b border-[#ececec];
}

/* Introduce page */
.introduce-section {
  @apply grid grid-cols-2 gap-x-12 gap-y-6 text-textColor max-[1021px]:grid-cols-1;
}

@media screen and (max-width: 1021px) {
  .introduce-reverse {
    grid-template-areas: "right" "left";
  }

  .introduce-reverse .left {
    grid-area: left;
  }

  .introduce-reverse .right {
    grid-area: right;
  }
}

.introduce-section p {
  @apply text-primary font-bold text-xl text-center mb-2;
}

.introduce-section h2 {
  @apply font-bold text-3xl uppercase text-center mb-3;
}

.introduce-section ul {
  @apply list-disc space-y-2 ml-4;
}

.introduce-section li {
  @apply text-justify text-[15px];
}

.introduce-section li span {
  @apply font-bold;
}

.introduce-section-img {
  @apply relative w-full h-full rounded-md overflow-hidden max-[1021px]:aspect-video;
}

/* Scale 3d */
.scale-3d-0 {
  opacity: 0;
  transform: scale3d(1, 0, 1);
}

.scale-3d-1 {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}

/* Sticky Btns */
.active-shadow {
  box-shadow: 0px 0px 1px 1px rgba(192, 192, 192, 0.3);
}

/* Installment page */
.installment-block,
.installment-block-sm {
  @apply p-6 border border-dashed border-primary rounded-md;
}

.installment-block h3 {
  @apply text-center font-bold uppercase text-primary text-2xl mb-10;
}

.installment-block ol {
  @apply list-decimal ml-6 space-y-3 text-textColor;
}

.installment-block ol ul {
  @apply list-disc ml-4;
}

.installment-block ol ul li {
  @apply pt-2;
}

.installment-block span {
  @apply italic text-primary mt-3 block;
}

.installment-block-sm {
  @apply border-tertiary;
}

.installment-block-sm p {
  @apply grid place-items-center mb-3;
}

.installment-block-sm h3 {
  @apply text-center font-bold text-tertiary text-xl mb-4;
}

.installment-block-sm ol {
  @apply list-decimal ml-6 space-y-2 text-textColor text-sm leading-7;
}

/* Common Accordion */
.szh-accordion__item p {
  @apply font-bold text-lg py-2 ml-0;
}

.szh-accordion__item ul {
  @apply list-disc space-y-1;
}

.szh-accordion__item ul li {
  @apply py-1;
}

.list-child-item li {
  @apply list-none;
}

/* Customer form */

.customer-form-wrapper {
  @apply shadow-md grid grid-cols-2 border rounded-md overflow-hidden max-[1100px]:grid-cols-1;
}

.customer-form-row {
  @apply grid grid-cols-2 gap-x-4 gap-y-6 max-[583px]:grid-cols-1;
}

/* Login page */
.admin-login-background {
  background-image: url("/images/admin/login-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(55, 65, 81, 0.6);
  @apply h-screen bg-blend-multiply;
}

.admin-main-gradient {
  @apply bg-[linear-gradient(135deg,#c3224a_0%,#4a0d37_100%)];
}

.admin-page-container {
  @apply p-6;
}

.admin-card {
  @apply bg-white rounded-md text-gray-800 my-[30px];
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.admin-card-body {
  @apply px-5 pt-4 pb-6;
}

/* Admin Button */
.admin-primary-btn {
  transition: background-image 0.5s ease-in;
  @apply relative py-3 px-4 rounded admin-main-gradient text-white font-bold;
}

.admin-primary-btn:hover::before {
  opacity: 1;
}

.admin-primary-btn span {
  @apply relative z-[3];
}

.admin-primary-btn::before {
  background-image: linear-gradient(315deg, #c3224a, #4a0d37);
  @apply absolute content-[''] w-full h-full transition-opacity duration-500 ease-[ease-out] z-[2] opacity-0 left-0 top-0 rounded-[5px];
}

/* Admin Sidebar */
.admin-sidebar-shadow {
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56),
    0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.admin-item-shadow {
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42),
    0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.admin-sidebar-item {
  @apply flex items-center text-sm font-extralight py-3 pl-4 hover:bg-[#c8c8c833] transition duration-[350] hover:text-white rounded text-[#ffffffcc];
}

.admin-sidebar-background {
  background-image: url("/images/admin/sidebar-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Admin table */
.admin-table thead {
  @apply bg-slate-50;
}

.admin-table th {
  @apply py-3 border-b;
}

.admin-table td {
  @apply py-3 pl-3;
}

.admin-table tr {
  @apply even:bg-slate-50 border-b;
}

/* Modal */

.react-responsive-modal-modal {
  @apply rounded-sm;
}

.react-responsive-modal-closeButton {
  @apply fill-white;
}

.react-responsive-modal-modal {
  @apply !p-0 !m-0;
}

.customModal {
  @apply rounded-md md:w-1/2 w-[80%] py-0;
}

/* Text editor */
.tox-tinymce {
  @apply !border-[1px] !border-[#e5e7eb] !rounded-md !h-[600px] z-0;
}

.small-text-editor .tox-tinymce {
  @apply !h-[400px] z-0;
}

/* Admin Form */
.admin-form-input-label {
  @apply text-sm text-slate-600 font-bold;
}

/* Content parsed from HTML */
figure.image {
  @apply my-4 w-full;
}

figure img {
  @apply !w-full object-cover rounded-t-md;
}

figure.image figcaption {
  @apply text-[#364a5b] text-sm !mt-0 text-center p-3 px-[10px] bg-[#e9e9e9] rounded-b-md;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 6px;
}

/* Paginagation */
.pagination .page-link {
  @apply !rounded-lg grid !text-[#333] font-semibold text-sm !border-transparent !py-[10px] max-[500px]:!py-2 !px-4  max-[330px]:!px-2 shadow-md max-[500px]:!text-xs border;
}

.pagination .page-item.active .page-link {
  @apply bg-primary border-primary !text-white !px-4 max-[330px]:!px-2;
}

.pagination .page-item.disabled .page-link {
  @apply !text-[#9f9f9f];
}

@keyframes fadeInUp {
  from {
    transform: translateY(30px);
  }
  to {
    transform: translateY(0);
  }
}
.animate-fadeInUp {
  animation: fadeInUp 2s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

strong {
  @apply !font-bold;
}
